*.tgz
*.log
*.swp
*.pyc
*pb2*
*node_modules*
*/protos
*debug.log

# Ignore compiled *.css
jb-fe/src/static/stylesheets/*

# Ignore Kubernetes options
k8s/options

# Ignore secret files
k8s/*/*secret*
*/*-secret.json
