*.tgz
*.log
*.swp
*.pyc
*pb2*
*node_modules*
*/protos
*debug.log

# Ignore compiled *.css
fe/src/static/stylesheets/*

# Ignore Kubernetes options
k8/options

# Ignore secret files
k8/*/*secret*
*/*-secret.json
