doctype html
html
  head
    meta(charset='UTF-8')
    title Home
    link(rel='stylesheet', type='text/css', href='base.css')
  body
    .main-container
      .title Jukebox
      .content
        .widget
          | 1
        .sliders
          | 2

